## Importing libraries

In [1]:
import pandas as pd

## Importing the dataset

In [2]:
df = pd.read_csv("../data/tripadvisor_reviews_labeled.csv", delimiter="|")

## Data exploration

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location_id     1056 non-null   int64
 1   location_title  1056 non-null   object
 2   location_url    1056 non-null   object
 3   review_id       1056 non-null   int64
 4   rating          1056 non-null   int64
 5   published_date  1056 non-null   object
 6   title           1052 non-null   object
 7   text            1056 non-null   object
 8   language        1056 non-null   object
 9   review_url      1056 non-null   object
 10  user_name       1056 non-null   object
 11  trip_type       1056 non-null   object
 12  travel_date     1056 non-null   object
 13  helpful_votes   161 non-null    float64
 14  constructive    1056 non-null   int64
 15  llm_logic_log   1056 non-null   object
dtypes: float64(1), int64(4), object(11)
memory usage: 132.1+ KB

In [4]:
df.head(5)

,location_id,location_title,location_url,review_id,rating,published_date,title,text,language,review_url,user_name,trip_type,travel_date,helpful_votes,constructive,llm_logic_log
0,513544,Arroyo's Mexican Cafe (Stockton),https://www.tripadvisor.com/Restaurant_Review-...,928522578,1,2023-12-05T19:15:39Z,Cheap and skimpy,Do not waste your time coming here. They tend ...,en,https://www.tripadvisor.com/ShowUserReviews-g3...,897teeg,Solo travel,2023-12-31,1.0,1,Review 1: Gives concrete details on scant port...
1,513544,Arroyo's Mexican Cafe (Stockton),https://www.tripadvisor.com/Restaurant_Review-...,832672314,3,2022-03-28T18:41:31Z,Nice Place with a View,Good food at reasonable prices. the menu is la...,en,https://www.tripadvisor.com/ShowUserReviews-g3...,daveb914,NONE,2022-03-31,NaN,1,Review 2: Describes specific dish quality (too...
2,513544,Arroyo's Mexican Cafe (Stockton),https://www.tripadvisor.com/Restaurant_Review-...,831662454,4,2022-03-19T14:54:42Z,Great Service,Service was fast & efficient. Food was hot & t...,en,https://www.tripadvisor.com/ShowUserReviews-g3...,Bamboo708,NONE,2022-03-31,NaN,1,Review 3: Mentions service speed and specific ...
3,513544,Arroyo's Mexican Cafe (Stockton),https://www.tripadvisor.com/Restaurant_Review-...,749503268,3,2020-03-06T10:50:21Z,Decent Mexican retaurant caters to locals,Nice local restaurant. I was from out of town...,en,https://www.tripadvisor.com/ShowUserReviews-g3...,ronaldrB2389ZG,NONE,2020-03-31,NaN,0,Review 4: Only gives vague comment about recei...
4,513544,Arroyo's Mexican Cafe (Stockton),https://www.tripadvisor.com/Restaurant_Review-...,653951321,5,2019-02-21T14:14:42Z,Stockton's finest,I recently visited Stockton visiting family a...,en,https://www.tripadvisor.com/ShowUserReviews-g3...,gregorygP3959WQ,Friends getaway,2019-02-28,NaN,1,Review 5: Provides specific positives on food ...

## Check for quality in data collection by the number of duplicates

In [5]:
def dupes_check():
    df["combo"] = df["location_title"] + df["title"] + df["text"]
    print("Duplicates:", df["combo"].duplicated().sum())
    dupes = df[df["combo"].duplicated(keep=False)]
    display(dupes)

#### A very few duplicates happen because of NaN values ruining uniquness. No real duplicates

In [6]:
dupes_check()

Duplicates: 3

,location_id,location_title,location_url,review_id,rating,published_date,title,text,language,review_url,user_name,trip_type,travel_date,helpful_votes,constructive,llm_logic_log,combo
98,4290690,Pêche Seafood Grill (New Orleans),https://www.tripadvisor.com/Restaurant_Review-...,1020674173,3,2025-07-24T19:55:47Z,NaN,"Oysters were good, but the Tuna quality was te...",en,https://www.tripadvisor.com/ShowUserReviews-g6...,cobyb227,NONE,2025-07-31,NaN,1,Review 19: Specific quality defect in tuna (wh...,NaN
591,321973,The Palm – Boston (Boston),https://www.tripadvisor.com/Restaurant_Review-...,1020539070,5,2025-07-24T04:05:39Z,NaN,This lovely restaurant welcomed us with a big ...,en,https://www.tripadvisor.com/ShowUserReviews-g6...,Ladygeminii,NONE,2025-07-31,NaN,1,Review 12: Specific food quality/preparation d...,NaN
706,4173134,Waffle Iron of Marianna (Marianna),https://www.tripadvisor.com/Restaurant_Review-...,1020261106,5,2025-07-22T11:03:24Z,NaN,Favorite breakfast and short order place. Foo...,en,https://www.tripadvisor.com/ShowUserReviews-g3...,267garnetw,Family,2025-06-30,NaN,0,"Review 7: Only general praise of food, service...",NaN
707,4173134,Waffle Iron of Marianna (Marianna),https://www.tripadvisor.com/Restaurant_Review-...,1019831847,1,2025-07-21T14:28:41Z,NaN,Had a great breakfast of eggs and a blueberry...,en,https://www.tripadvisor.com/ShowUserReviews-g3...,M5177LVjackb,NONE,2025-07-31,NaN,1,Review 8: Specifies breakfast items cooked to ...,NaN

In [7]:
df = df.apply(lambda col: col.fillna(f"[no {col.name}]"))

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056 entries, 0 to 1055
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location_id     1056 non-null   int64
 1   location_title  1056 non-null   object
 2   location_url    1056 non-null   object
 3   review_id       1056 non-null   int64
 4   rating          1056 non-null   int64
 5   published_date  1056 non-null   object
 6   title           1056 non-null   object
 7   text            1056 non-null   object
 8   language        1056 non-null   object
 9   review_url      1056 non-null   object
 10  user_name       1056 non-null   object
 11  trip_type       1056 non-null   object
 12  travel_date     1056 non-null   object
 13  helpful_votes   1056 non-null   object
 14  constructive    1056 non-null   int64
 15  llm_logic_log   1056 non-null   object
 16  combo           1056 non-null   object
dtypes: int64(4), object(13)
memory usage: 140.4+ KB

In [9]:
dupes_check()

Duplicates: 0

Empty DataFrame
Columns: [location_id, location_title, location_url, review_id, rating, published_date, title, text, language, review_url, user_name, trip_type, travel_date, helpful_votes, constructive, llm_logic_log, combo]
Index: []

In [10]:
df.isnull().sum()

location_id       0
location_title    0
location_url      0
review_id         0
rating            0
published_date    0
title             0
text              0
language          0
review_url        0
user_name         0
trip_type         0
travel_date       0
helpful_votes     0
constructive      0
llm_logic_log     0
combo             0
dtype: int64

In [11]:
df.count()

location_id       1056
location_title    1056
location_url      1056
review_id         1056
rating            1056
published_date    1056
title             1056
text              1056
language          1056
review_url        1056
user_name         1056
trip_type         1056
travel_date       1056
helpful_votes     1056
constructive      1056
llm_logic_log     1056
combo             1056
dtype: int64

In [12]:
df.nunique()

location_id        193
location_title     228
location_url       228
review_id          861
rating               5
published_date     861
title              843
text               889
language             1
review_url         861
user_name          836
trip_type            6
travel_date        122
helpful_votes        5
constructive         2
llm_logic_log     1056
combo             1056
dtype: int64

In [13]:
df[df["constructive"] == 1].count()

location_id       648
location_title    648
location_url      648
review_id         648
rating            648
published_date    648
title             648
text              648
language          648
review_url        648
user_name         648
trip_type         648
travel_date       648
helpful_votes     648
constructive      648
llm_logic_log     648
combo             648
dtype: int64

In [14]:
df[df["constructive"] == 0].count()

location_id       408
location_title    408
location_url      408
review_id         408
rating            408
published_date    408
title             408
text              408
language          408
review_url        408
user_name         408
trip_type         408
travel_date       408
helpful_votes     408
constructive      408
llm_logic_log     408
combo             408
dtype: int64

In [15]:
def show_category(idx_to_read, constructive):
    print(f"TITLE: {df[df['constructive'] == constructive]['title'].iloc[idx_to_read]};\nREVIEW:{df[df['constructive'] == constructive]['text'].iloc[idx_to_read]}\n\nLLM CLASSIFIER LOGIC LOG: {df[df['constructive'] == constructive]['llm_logic_log'].iloc[idx_to_read]}")

## Reading samples for reviews which were automatically classified as not constructive

In [16]:
show_category(idx_to_read=0, constructive=0)

TITLE: Decent Mexican retaurant caters to locals;
REVIEW:Nice local restaurant.  I was from out of town and it seemed like I didn't get as much attention as those who were local.  The food was pretty good and the overall experience was much better than the large chain Mexican restaurant a few blocks away.  Will visit again if in town.

LLM CLASSIFIER LOGIC LOG: Review 4: Only gives vague comment about receiving less attention as a non-local and “pretty good” food without specifics.  0

## Reading samples for reviews which were automatically classified as constructive

In [17]:
show_category(idx_to_read=0, constructive=1)

TITLE: Cheap and skimpy;
REVIEW:Do not waste your time coming here. They tend to be very skimpy when it comes to your food. I paid for two beef, cheese & rice burritos which the cook put about 5 pieces of rice in each burrito! I called to speak with the manager and he said it was a mistake (yeah right) and that he wouldn't charge me for rice on my next order! He should've been offering two new burritos, if that's the best you can do, I will not be back! Also, they limit you on the salsa to go, you only get one per burrito and it's only a teaspoon.  Terrible and cheap! Try other places that believe in giving you your money's worth.

LLM CLASSIFIER LOGIC LOG: Review 1: Gives concrete details on scant portions, specific rice amount, manager’s response, and salsa limits, all operationally actionable.  1

## Add a feature column for model training

In [18]:
df["review"] = (
    "TITLE: " + df["title"].str.replace("\n"," ") +
    " | TEXT: " + df["text"].str.replace("\n"," ")
)

## Balance classes
#### Find smallest class size & downsample both to the same size

In [ ]:
df0 = df[df["constructive"] == 0]
df1 = df[df["constructive"] == 1]

n = min(len(df0), len(df1))

df0_bal = df0.sample(n, random_state=42)
df1_bal = df1.sample(n, random_state=42)

df = pd.concat([df0_bal, df1_bal]).sample(frac=1, random_state=42)

## Saving the clean dataset

In [20]:
df[["review", "constructive"]].to_csv(
    "../data/reviews.tsv",
    sep="\t",
    index=False
)